{% extends 'base.html' %}

{% load static %}

{% block content %}

<h1>À propos de Les Gens N'ont Plus de Goût</h1>


<h2>Contexte du projet</h2>
<p>Notre entreprise crée des rééditions d'albums de musique légendaires au format vinyle. Dans le cadre de notre département marketing, nous avons développé une application web appelée "Les Gens N'ont Plus de Goût". Cette application permet de répondre à une question simple : "En se basant sur les caractéristiques musicales d'un morceau, est-ce qu'un tube sorti il y a des années et qui est devenu un classique aurait connu le même succès s'il avait été sorti récemment?". Pour cela, nous avons étudié le lien entre les caractéristiques musicales des morceaux sortis en 2022 et leur popularité, afin d'appliquer ce modèle à n'importe quel morceau de l'histoire de la musique, en particulier du catalogue de notre entreprise.</p>


<h2>Objectifs du projet</h2>
  <p>Notre objectif était de valider la faisabilité du projet en nous assurant de l'existence et de la disponibilité des données nécessaires, ainsi qu'en étudiant si un modèle à peu près convenable était réalisable. Pour cela, nous avons utilisé l'API du service Spotify pour collecter des données et avons entraîné plusieurs modèles de machine learning. Nous avons fixé comme objectif une MAE maximum d'environ 20 pour notre modèle.</p>
  
  <h2>Résultats</h2>
  <p>Nous avons réussi à collecter suffisamment de données et à entraîner un modèle performant, avec une MAE maximum de 20. Nous avons ensuite développé une API pour notre modèle, ainsi qu'une application web en Django permettant à un utilisateur de rentrer la musique de son choix et d'avoir une prédiction sur sa popularité si elle était sortie en 2022. Nous avons également déployé chacune de ces composantes sur Azure, en utilisant Docker et Docker Compose. Enfin, nous avons rédigé un README clair et concis pour permettre une utilisation facile de notre application.</p>
  
  <h2>Conclusion</h2>
  <p>Nous sommes très fiers de ce projet, qui a été un réel défi technique. Nous espérons que notre application permettra aux utilisateurs de découvrir de nouvelles chansons et d'en apprendre davantage sur les caractéristiques musicales qui ont contribué à leur succès. Nous continuerons à travailler sur ce projet pour le perfectionner et le rendre encore plus ludique pour les utilisateurs.</p>
{% endblock content %}