{% extends 'base.html' %}

{% load static %}

{% block content %}



<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }
    th, td {
        text-align: left;
        padding: 8px;
        border-bottom: 1px solid #ddd;
    }
    th {
        background-color: #f2f2f2;
        font-weight: bold;
    }
</style>




<h1>{{ track_dict_list.0.track_name }}, Popularity: {{ track_dict_list.0.popularity }}</h1>



<button id="detailsButton" onclick="toggleDetails()">Show Details</button>

<div id="detailsTable" style="display: none;">

    
    
    
    <table>
        <tr>
        <th>Variable Name</th>
        <th>Value</th>
    </tr>
    <tr>
        <td>Artist Name</td>
        <td>{{track_dict_list.0.artist_name }}</td>
    </tr>
    <tr>
        <td>Album Name</td>
        <td>{{track_dict_list.0.album_name }}</td>
    </tr>
    <tr>
        <td>Album ID</td>
        <td>{{track_dict_list.0.album_id }}</td>
    </tr>
    <tr>
        <td>Release Date</td>
        <td>{{track_dict_list.0.release_date }}</td>
    </tr>
    <tr>
        <td>Track Name</td>
        <td>{{track_dict_list.0.track_name }}</td>
    </tr>
    <tr>
        <td>Track ID</td>
        <td>{{track_dict_list.0.track_id }}</td>
    </tr>
    <tr>
        <td>Popularity</td>
        <td>{{track_dict_list.0.popularity }}</td>
    </tr>
    <tr>
        <td>Duration (ms)</td>
        <td>{{track_dict_list.0.duration_ms }}</td>
    </tr>
    <tr>
        <td>Explicit</td>
        <td>{{track_dict_list.0.explicit }}</td>
    </tr>
    <tr>
        <td>External URLs</td>
        <td>{{track_dict_list.0.external_urls }}</td>
    </tr>
    <tr>
        <td>Is Local</td>
        <td>{{track_dict_list.0.is_local }}</td>
    </tr>
    <tr>
        <td>Preview URL</td>
        <td><audio id="myAudio" controls preload="auto" src="{{track_dict_list.0.preview_url }}"></audio></td>
    </tr>
    <tr>
        <td>Track Number</td>
        <td>{{track_dict_list.0.track_number }}</td>
    </tr>
    
    <tr>
        <td>Danceability</td>
        <td>{{ track_dict_list.0.audio_features.danceability }}</td>
    </tr>
    <tr>
        <td>Energy</td>
        <td>{{ track_dict_list.0.audio_features.energy }}</td>
    </tr>
    <tr>
        <td>Key</td>
        <td>{{ track_dict_list.0.audio_features.key }}</td>
    </tr>
    <tr>
        <td>Loudness</td>
        <td>{{ track_dict_list.0.audio_features.loudness }}</td>
    </tr>
    <tr>
        <td>Mode</td>
        <td>{{ track_dict_list.0.audio_features.mode }}</td>
    </tr>
    <tr>
        <td>Speechiness</td>
        <td>{{ track_dict_list.0.audio_features.speechiness }}</td>
    </tr>
    <tr>
        <td>Acousticness</td>
        <td>{{ track_dict_list.0.audio_features.acousticness }}</td>
    </tr>
    <tr>
        <td>Instrumentalness</td>
        <td>{{ track_dict_list.0.audio_features.instrumentalness }}</td>
    </tr>
    <tr>
        <td>Liveness</td>
        <td>{{ track_dict_list.0.audio_features.liveness }}</td>
    </tr>
    <tr>
        <td>Valence</td>
        <td>{{ track_dict_list.0.audio_features.valence }}</td>
    </tr>
    <tr>
        <td>Tempo</td>
        <td>{{ track_dict_list.0.audio_features.tempo }}</td>
    </tr>
    <tr>
        <td>Duration (ms)</td>
        <td>{{ track_dict_list.0.audio_features.duration_ms }}</td>
    </tr>
    <tr>
        <td>Time Signature</td>
        <td>{{ track_dict_list.0.audio_features.time_signature }}</td>
    </tr>

    
</table>

</div>
<script>
    let audio = document.getElementById("myAudio")
    audio.volume = 0.1; // Volume réglé à 50%

    function toggleDetails() {
        var detailsTable = document.getElementById("detailsTable");
        var detailsButton = document.getElementById("detailsButton");
        if (detailsTable.style.display === "none") {
            detailsTable.style.display = "table";
            detailsButton.innerHTML = "Hide Details";
        } else {
            detailsTable.style.display = "none";
            detailsButton.innerHTML = "Show Details";
        }
    }
    </script>
{{df|safe}}

{% endblock content %}
